@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --text-color: #000000;
  --secondary-color: #099195;
  --accent-color: #1594f1;
}

body {
  height: 100vh;
}

.logo {
  color: var(--text-color);
}

.login {
  background-color: var(--accent-color);
  color: var(--text-color);
}

.login:hover {
  background-color: #1181d1;
}

.about {
  color: var(--text-color);
}

.about:hover {
  text-decoration: underline;
}

.pins {
  color: var(--text-color);
  width: 36rem;
}

.addpin-btn {
  background-color: var(--accent-color);
  color: var(--text-color);
}

.addpin-btn:hover {
  background-color: #1181d1;
}

#autocomplete {
  color: var(--text-color-light);
}

.deletePin-btn {
  background: rgba(255, 0, 0, 0.5);
}

/* pin animation */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pinList li {
  animation: 0.3s;
  animation-fill-mode: both;
}

.pinList li.fadeIn {
  animation-name: fadeIn;
}

@media (max-width: 600px) {
  .pins {
    width: 100%;
  }
}
